munit-integration-tests/src/main/app/validation-module.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd"
      version="EE-3.7.0">


    <validation:config name="validation"/>

    <flow name="emailFlow">
        <validation:is-email email="#[payload]" config-ref="validation"/>
        <!--<logger level="DEBUG" message=""/>-->
    </flow>

    <!--<flow name="ip">-->
        <!--<validation:is-ip ip="#[payload]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="url">-->
        <!--<validation:is-url url="#[payload]" config-ref="validation" />-->
    <!--</flow>-->

    <!--<flow name="time">-->
        <!--<validation:is-time time="#[payload]" pattern="#[pattern]" locale="#[java.util.Locale.getDefault().getLanguage()]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="matchesRegex">-->
        <!--<validation:matches-regex value="#[payload]" regex="#[regexp]" caseSensitive="#[caseSensitive]"-->
                                  <!--config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="size">-->
        <!--<validation:validate-size value="#[payload]" min="#[minLength]" max="#[maxLength]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="isTrue">-->
        <!--<validation:is-true expression="#[payload]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="isFalse">-->
        <!--<validation:is-false expression="#[payload]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="notEmpty">-->
        <!--<validation:is-not-empty value="#[payload]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="empty">-->
        <!--<validation:is-empty value="#[payload]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="isNull">-->
        <!--<validation:is-null value="#[payload]" config-ref="validation"/>-->
    <!--</flow>-->

    <!--<flow name="all">-->
        <!--<validation:all config-ref="validation">-->
            <!--<validation:validations>-->
                <!--<validation:is-url url="#[url]" config-ref="validation"/>-->
                <!--<validation:is-email email="#[email]" config-ref="validation"/>-->
            <!--</validation:validations>-->
        <!--</validation:all>-->
    <!--</flow>-->

    <!--<flow name="choice">-->
        <!--<choice doc:name="Choice">-->
            <!--<when expression="#[validator.validateEmail(payload)]">-->
                <!--<set-payload value="valid" doc:name="Set Payload"/>-->
            <!--</when>-->
            <!--<otherwise>-->
                <!--<set-payload value="invalid" doc:name="Set Payload"/>-->
            <!--</otherwise>-->
        <!--</choice>-->
    <!--</flow>-->
</mule>
